* {
    margin: 0px;
    padding: 0px;
}
 
/* ---------------navbar--------------- */
 
#navbar {
    width: 100%;
    height: 50px;
    background-color: #222222;
    list-style-type: none;
    position: fixed;
}

.navicon{
    height: 24px;
    width: 24px;
}

.spacenav{
    margin-left: 100px;
}
 
#razorlogo1 {
    height: 15px;
    padding-top: 18px;
    padding-left: 450px;
    list-style-type: none;
    float: left;
}
 
.navbarli {
    list-style-type: none;
    float: left;
    color: rgb(119,119,119);
    font-family: Conv_RazerF5,Arial;
    font-size: 1rem;
    letter-spacing: .0625rem;
    padding-right: 15px;
    padding-left: 15px;
}
 
.firstli {
    padding-left: 35px;
}
 
.usbox {
    border: 1px solid rgb(119,119,119);
    margin-left: 15px;
    padding-bottom: 3px;
}
 
.ustext {
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 3px;
}

#topnav{
    padding-bottom: 100px;
}

/* ---------------hero0--------------- */

#herotitle100 {
    font-family: Conv_RazerF5Light,Arial;
    font-size: 40px;
    color: #999;
    line-height: 1;
    padding-left: 0px;
    text-align: center;
    letter-spacing: .0625rem;
    width: 100%;
}

#hero0 {
    height: 700px;
    width: 100%;
    background-image: url(https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/h9d/hc0/9277160095774/L2P-US-A-1920x700-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#herotitle10 {
    font-family: Conv_RazerF5Light,Arial;
    font-size: 1.65rem;
    color: #999;
    line-height: 1;
    padding-left: 0px;
    text-align: center;
    letter-spacing: .0625rem;
    width: 100%;
    padding-top: 70px;
}

#herotitle15 {
    font-family: Conv_RazerF5Light,Arial;
    font-size: 1.5rem;
    color: #999;
    line-height: 1;
    padding-left: 0px;
    text-align: center;
    letter-spacing: .0625rem;
}

#herotitle110 {
    padding-top: 100px;
    text-align: center;
    float: left;
    width: 100%;
}

#herotitle3 {
    font-family: Conv_RazerF5SemiBold,Arial;
    font-size: 1.125rem;
    line-height: 1.5;
    display: block;
    color: white;
    padding-top: 5px;
}

/* ---------------hero1--------------- */
 
#blackline{
    background-color: black;
    width: 100%;
    height: 80px;
}


#hero1 {
    height: 700px;
    width: 100%;
    background-image: url(https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/he0/h59/9268229242910/LOS-V2-razer-huntsman-elite-desktop-home-large.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#herotitle1 {
    font-family: Conv_RazerF5Light,Arial;
    font-size: 1.65rem;
    color: #999;
    line-height: 1;
    padding-left: 0px;
    text-align: center;
    letter-spacing: .0625rem;
    width: 100%;
}

#herotitle15 {
    font-family: Conv_RazerF5Light,Arial;
    font-size: 1.5rem;
    color: #999;
    line-height: 1;
    padding-left: 0px;
    text-align: center;
    letter-spacing: .0625rem;
}

#herotitle11 {
    padding-top: 50px;
    text-align: center;
    float: left;
    width: 100%;
}

#herotitle3 {
    font-family: Conv_RazerF5SemiBold,Arial;
    font-size: 1.125rem;
    line-height: 1.5;
    display: block;
    color: white;
    padding-top: 5px;
}

#arrow {
    color: #44d62c;
    font-family: Conv_RazerF5SemiBold,Arial;
    font-size: 0.75rem;
    letter-spacing: .0625rem;
}

/* ---------------hero2--------------- */

#divider {
    height: 10px;
    width: 100%;
    background-color:  #222;
}

#hero2 {
    height: 700px;
    width: 100%;
    background-image: url(https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/hb7/hf2/9235089719326/razer-blade-15-GTX-1660-desktop-home-large-v2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

#herotitle22 {
    padding-top: 70px;
    text-align: center;
}

#rthing {
    font-size: 1.75rem;
}

/* ---------------hero3--------------- */

#hero3 {
    height: 700px;
    width: 100%;
    background-image: url(https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/h83/h78/9211654668318/razer-viper-desktop-home-large.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

/* ---------------4boxes--------------- */

/* ---------------hero4--------------- */

#hero4 {
    height: 570px;
    width: 946.5px;
    background-image: url(https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/hb9/h94/9276931014686/B-razer-blade-pro-d17-950x580-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

#herotitle24 {
    padding-top: 70px;
    text-align: center;
}

#verticalborder {
    background-color: #222;
    width: 10px;
    height: 570px;
    float: left;
}

/* ---------------hero5--------------- */

#hero5 {
    height: 570px;
    width: 946.5px;
    background-image: url(https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/h66/h4e/9265495506974/KrakenKittyEdition-B-950x580-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

#herotitle25 {
    padding-top: 70px;
    text-align: center;
}

/* ---------------hero6--------------- */

#divider2 {
    height: 10px;
    width: 100%;
    background-color:  #222;
    padding-top: 570px;
}

#hero6 {
    height: 570px;
    width: 946.5px;
    background-image: url(https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/h2c/h52/9241429573662/razer-arctech-B-950x580-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

#herotitle26 {
    padding-top: 70px;
    text-align: center;
}

/* ---------------hero7--------------- */

#hero7 {
    height: 570px;
    width: 946.5px;
    background-image: url(https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/hb4/haa/9268895547422/razer-BCRF-B-950x580-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

#herotitle27 {
    padding-top: 70px;
    text-align: center;
}

/* ---------------hero8--------------- */

#hero8 {
    height: 570px;
    width: 946.5px;
    background-image: url(https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/h73/hae/9268895678494/razer-respawn-homepage-B-Desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

#herotitle28 {
    padding-top: 70px;
    text-align: center;
}

/* ---------------hero9--------------- */

#hero9 {
    height: 570px;
    width: 946.5px;
    background-image: url(https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/hd5/h3b/9185281343518/razer-insider-B-950x580-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

#herotitle29 {
    padding-top: 70px;
    text-align: center;
}

/* ---------------footer--------------- */

#footer{
    height: 312px;
    width: 1413px;
    background-color: #222222;
    padding-top: 595px;
}

#footersection{
    list-style-type: none;
    float: left;
    padding-left: 35px;
    padding-top: 50px;
}

.footerheading{
    font-size: 13px;
    color: white;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.firstfooter {
    padding-left: 490px;
}

.lifooter {
    color:rgb(119,119,119);
    font-size: 13px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

.firstfooterli {
    padding-top: 10px;
}

.socialimg{
    width: 16px;
    height: 16px;
}

#copyright {
    color:rgb(119,119,119);
    font-size: 12px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    width: 500px;
    height: 20px;
    padding-top: 250px;
    padding-left: 250px;
}